<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notification</title>
    <style>
      a {
        padding: 8px 12px;
        border-radius: 4px;
        color: black;
        font-weight: bold;
        font-size: medium;
        background-color: grey;
        text-decoration: none;
      }
      a:hover {
        background-color: lightgray;
      }
    </style>
  </head>
  <body>
    <h2>Your Payment had been Rejected</h2>
    <p>Your payment for {{invoice}} had been rejected by Admin please submit again the receipt.</p>
  </body>
</html>
